@model List<Portfolio>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-5">
            <a asp-area="admin" asp-controller="Portfolio" asp-action="create" class="btn btn-primary">Create</a>
        </div>
        <hr />
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row"></th>
                            <td><img src="~/Uploads/@item.Image" alt="Alternate Text" style="max-width:150px; max-height:150px" /></td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>
                                <a asp-area="admin" asp-controller="Portfolio" asp-action="update" class="btn btn-success">Update</a>
                                <a asp-area="admin" asp-controller="Portfolio" asp-action="delete" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>