@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins';
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: transparent;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

@media (max-width: 650px) {
  nav ul li {
    margin-left: 5px;
  }
}

nav ul li a {
  color: #bbb6b6;
}

.Logo {
  color: #757373;
  font-size: 20px;
  font-weight: bold;
  padding: 0 40px;
}

@media (max-width: 650px) {
  .Logo {
    font-size: 15px;
    padding: 0 5px;
  }
}

nav {
  padding: 0 40px;
}

@media (max-width: 650px) {
  nav {
    padding: 0 5px;
  }
}

.Logo:hover {
  color: white;
}

nav ul li a:hover {
  color: white;
}

main {
  background-image: url(../Assets/bgpic4.jpg);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Poppins';
}

main .title {
  color: white;
  width: 30%;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 650px) {
  main .title {
    font-size: 30px;
    width: 70%;
  }
}

main .description {
  color: white;
  width: 30%;
  font-family: 'Poppins';
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
}

@media (max-width: 650px) {
  main .description {
    font-size: 15px;
    margin-top: 15px;
    width: 70%;
  }
}

main .bosluq {
  width: 50px;
  height: 5px;
  margin-top: 30px;
  background: #fa6108;
}

@media (max-width: 650px) {
  main .bosluq {
    margin-top: 15px;
    width: 25px;
    height: 3px;
  }
}

main .btn {
  width: 200px;
  height: 50px;
  background: #fa6108;
  border-width: 0;
  border-radius: 50px;
  color: white;
  margin-top: 30px;
  font-weight: bolder;
  font-family: 'Poppins';
}

@media (max-width: 650px) {
  main .btn {
    margin-top: 15px;
    width: 130px;
    height: 40px;
    font-size: 12px;
  }
}

.qirmizi {
  width: 100%;
  background: #fa6108;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Poppins';
}

.qirmizi .title {
  color: white;
  width: 50%;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 650px) {
  .qirmizi .title {
    font-size: 20px;
    width: 70%;
  }
}

.qirmizi .description {
  color: white;
  width: 50%;
  font-family: 'Poppins';
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
}

@media (max-width: 650px) {
  .qirmizi .description {
    font-size: 13px;
    width: 70%;
    margin-top: 15px;
  }
}

.qirmizi .bosluq {
  width: 50px;
  height: 5px;
  margin-top: 30px;
  background: #fa6108;
}

@media (max-width: 650px) {
  .qirmizi .bosluq {
    margin-top: 15px;
    width: 25px;
    height: 3px;
  }
}

.qirmizi .btn {
  width: 200px;
  height: 50px;
  background: #fbfbfa;
  border-width: 0;
  border-radius: 50px;
  color: #0e0d0d;
  margin-top: 30px;
  font-weight: bolder;
  font-family: 'Poppins';
}

@media (max-width: 650px) {
  .qirmizi .btn {
    margin-top: 15px;
    width: 130px;
    height: 40px;
    font-size: 13px;
  }
}

.ag {
  width: 100%;
  background: white;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Poppins';
}

.ag .title {
  color: black;
  width: 50%;
  text-align: center;
  font-size: 30px;
}

@media (max-width: 650px) {
  .ag .title {
    font-size: 20px;
  }
}

.ag .bosluq {
  width: 50px;
  height: 5px;
  margin-top: 30px;
  background: #fa6108;
}

@media (max-width: 650px) {
  .ag .bosluq {
    margin-top: 15px;
    width: 25px;
    height: 3px;
  }
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins';
}

.grid-container .col-3 {
  padding: 10px;
}

@media (max-width: 650px) {
  .grid-container .col-3 {
    padding: 5px;
  }
}

.grid-container .col-3 .grid-item-content {
  padding: 35px;
  text-align: center;
}

@media (max-width: 650px) {
  .grid-container .col-3 .grid-item-content {
    padding: 17px;
  }
}

.grid-container .col-3 .grid-item-content i {
  font-size: 40px;
  color: #fa6108;
  background-color: rgba(216, 240, 250, 0.39);
}

@media (max-width: 650px) {
  .grid-container .col-3 .grid-item-content i {
    font-size: 40px;
  }
}

.grid-container .col-3 .grid-item-content h3 {
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

@media (max-width: 650px) {
  .grid-container .col-3 .grid-item-content h3 {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.grid-container .col-3 .grid-item-content p {
  text-align: center;
  font-size: 15px;
  color: #6d6c6c;
}

@media (max-width: 650px) {
  .grid-container .col-3 .grid-item-content p {
    font-size: 8px;
  }
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins';
}

#mysection {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#mysection #sekil1 {
  background-image: url(../Assets/nese.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#mysection #sekil2 {
  background-image: url(../Assets/nese2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#mysection #sekil3 {
  background-image: url(../Assets/nese3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#mysection #sekil4 {
  background-image: url(../Assets/nese4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#mysection #sekil5 {
  background-image: url(../Assets/nese5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#mysection #sekil6 {
  background-image: url(../Assets/nese6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#mysection #sekil7 {
  background-image: url(../Assets/nese7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#mysection #sekil8 {
  background-image: url(../Assets/nese8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.download {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1a1919;
  font-family: 'Poppins';
}

.download h3 {
  color: white;
}

.download .download-btn {
  width: 200px;
  height: 50px;
  color: black;
  font-family: 'Poppins';
  background: white;
  border-radius: 40px;
  border: 0;
  font-weight: bolder;
  margin-top: 30px;
}

@media (max-width: 650px) {
  .download .download-btn {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    font-size: 10px;
  }
}

.lastsec {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lastsec h3 {
  font-size: 30px;
}

@media (max-width: 650px) {
  .lastsec h3 {
    font-size: 20px;
  }
}

.lastsec .bosluq {
  width: 50px;
  height: 5px;
  margin-top: 30px;
  background: #fa6108;
}

@media (max-width: 650px) {
  .lastsec .bosluq {
    width: 25px;
    height: 3px;
    margin-top: 15px;
  }
}

.lastsec p {
  width: 50%;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 650px) {
  .lastsec p {
    width: 70%;
  }
}

.lastsec .divdiv {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 650px) {
  .lastsec .divdiv {
    margin-top: 15px;
  }
}

.lastsec .divdiv #name {
  width: 400px;
  height: 50px;
  padding: 5px;
}

@media (max-width: 650px) {
  .lastsec .divdiv #name {
    width: 250px;
    height: 30px;
    padding: 3px;
  }
}

.lastsec .divdiv #email {
  width: 400px;
  height: 50px;
  padding: 5px;
}

@media (max-width: 650px) {
  .lastsec .divdiv #email {
    width: 250px;
    height: 30px;
    padding: 3px;
  }
}

.lastsec .divdiv #phone {
  width: 400px;
  height: 50px;
  padding: 5px;
}

@media (max-width: 650px) {
  .lastsec .divdiv #phone {
    width: 250px;
    height: 30px;
    padding: 3px;
  }
}

.lastsec .divdiv #message {
  width: 400px;
  height: 150px;
  padding: 5px;
}

@media (max-width: 650px) {
  .lastsec .divdiv #message {
    width: 250px;
    height: 30px;
    padding: 3px;
  }
}

.lastsec .btn {
  width: 400px;
  height: 60px;
  background: #fa6108;
  border-width: 0;
  border-radius: 50px;
  color: white;
  margin-top: 30px;
  font-weight: bolder;
  font-family: 'Poppins';
}

@media (max-width: 650px) {
  .lastsec .btn {
    width: 250px;
    height: 40px;
    margin-top: 15px;
  }
}

.lastsec #telefon {
  font-size: 30px;
  margin-top: 50px;
}

@media (max-width: 650px) {
  .lastsec #telefon {
    font-size: 15px;
    margin-top: 25px;
  }
}

.lastsec .lastp {
  margin-top: 10px;
}

@media (max-width: 650px) {
  .lastsec .lastp {
    margin-top: 5px;
  }
}

.lastsec .end {
  margin-top: 250px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */